* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #cccccc;
  padding: 10px;
  display: flex;
  height: 1000px;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  align-content: center;
}

.item {
  padding: 30px;
  background-color: blueviolet;
  margin: 5px;
  color: aliceblue;
  font-size: 40px;
  flex-grow: 1;
}

.i2 {
  height: 200px;
  flex-basis: 30%;
  flex-shrink: 0;
}

.i4 {
  align-self: flex-end;
  order: -1;
}
